<div
  class="fixed bottom-[50px] lg:bottom-[14px] right-[8px] sm:right-4 flex items-center z-[9999] font-sans max-sm:w-full max-sm:justify-end transition-all duration-300"
  [class.pointer-events-none]="!isOpen()"
  [class.pointer-events-auto]="isOpen()"
>
  <div
    class="bg-[#18221f] border border-[#dfb76c]/20 dark:border-sacred-gold/40 rounded-full pl-[6px] pr-[12px] sm:px-[16px] py-[8px] flex items-center gap-[2px] sm:gap-[8px] mr-[4px] sm:mr-[12px] shadow-2xl transition-all duration-300 ease-out -order-1 pointer-events-auto"
    [class.opacity-100]="isOpen()"
    [class.translate-x-0]="isOpen()"
    [class.opacity-0]="!isOpen()"
    [class.translate-x-5]="!isOpen()"
    [class.pointer-events-none]="!isOpen()"
  >
    <button
      (click)="decreaseFontSize(); keepDockOpen()"
      [disabled]="fontSize() <= 80"
      class="w-[30px] h-[30px] leading-none rounded-full hover:bg-hover-background cursor-zoom-out disabled:cursor-not-allowed text-gray-100"
    >
      <span class="text-[18px] font-bold">A</span>
    </button>

    <input
      class="flex-1 cursor-grab w-full"
      type="range"
      min="80"
      max="180"
      [value]="fontSize()"
      (input)="onSliderChange($event); keepDockOpen()"
    />

    <button
      (click)="increaseFontSize(); keepDockOpen()"
      [disabled]="fontSize() >= 180"
      class="w-[30px] h-[30px] leading-none rounded-full hover:bg-hover-background cursor-zoom-in disabled:cursor-not-allowed text-gray-100"
    >
      <span class="text-[24px] font-bold">A</span>
    </button>

    <span class="text-[20px] text-gray-400 font-medium text-center"> {{ fontSize() }}% </span>

    <button
      (click)="resetFontSize(); keepDockOpen()"
      class="w-[28px] h-[28px] rounded-full hover:bg-hover-background reset-btn cursor-pointer disabled:cursor-not-allowed"
      [disabled]="fontSize() == 110"
    >
      <span class="reset-icon">↺</span>
    </button>
  </div>

  <button
    class="relative bg-gradient-to-br from-[#bf953f] via-[#fcf6ba] to-[#aa771c] text-[#0b251e] w-[50px] h-[50px] rounded-full flex flex-col items-center justify-center cursor-pointer shadow-[0_4px_20px_rgba(191,149,63,0.4)] hover:scale-105 active:scale-95 transition-all duration-300 ease-out group border border-[#ffffff] pointer-events-auto"
    (click)="togglePanel()"
    title="Accessibility Text Zoom Settings"
  >
    <span
      class="absolute inset-0 rounded-full bg-[#dfb76c] opacity-0 transition-opacity duration-700 pointer-events-none"
      [class.opacity-25]="!isOpen()"
    ></span>

    <span
      class="font-serif text-lg font-black tracking-tighter leading-none relative z-10 drop-shadow-sm"
      >Aa</span
    >
    <span
      class="text-[9px] text-[#0b251e] font-extrabold tracking-tight text-center font-mono opacity-90 leading-none mt-0.5 relative z-10"
    >
      {{ fontSize() }}%
    </span>
  </button>
</div>
