@if (globalAudio.isCardClicked()) {
  <footer
    class="fixed bottom-0 left-0 right-0 z-50 p-0 w-full backdrop-blur-md py-[10px] border-t bg-sand-mist/80 border-sacred-gold/80 dark:bg-bg-green/80 dark:border-gold-tint/40 overflow-x-auto"
  >
    <div class="max-w-5xl mx-auto relative group/footer">
      <button
        (click)="confirmAudioPlayerClose()"
        class="absolute -top-[8px] max-md:left-0 right-0 max-md:m-auto md:-right-[4px] bg-red-600 hover:bg-red-700 text-white dark:bg-red-800/80 dark:hover:bg-red-700 rounded-full w-[24px] h-[24px] flex items-center justify-center text-[10px] shadow-md transition-all duration-200 cursor-pointer z-50 opacity-80 hover:opacity-100"
        title="Close Player"
      >
        <i class="pi pi-times text-white text-[12px]! group-hover:animate-pulse"></i>
      </button>
      <div class="text-[12px] mx-[16px]">
        <div class="flex items-center justify-between">
          <div class="flex items-center justify-center">
            <div class="flex items-center justify-center">
              <button
                (click)="globalAudio.toggleAyahAudio(globalAudio.currentPlayingAyah()!)"
                class="cursor-pointer group relative w-[28px] h-[28px] rounded-full bg-slate-900/80 border border-sacred-gold/30 flex items-center justify-center transition-all active:scale-95 shadow-2xl"
              >
                @if (globalAudio.isAudioPlaying()) {
                  <div
                    class="absolute inset-0 rounded-full bg-sacred-gold/70 dark:bg-sacred-gold/20 animate-ping"
                  ></div>
                }
                <span class="text-[12px] transition-transform group-hover:rotate-12">
                  {{ globalAudio.isAudioPlaying() ? '⏸️' : '▶️' }}
                </span>
              </button>
            </div>

            <div class="pl-[16px] flex flex-col justify-center max-lg:whitespace-nowrap">
              <div
                class="flex items-center text-[8px] text-sacred-gold uppercase tracking-[0.2em] font-bold animate-pulse"
              >
                {{ globalAudio.isAudioPlaying() ? 'Now Reciting...' : 'Paused.' }}
              </div>
              <div class="text-[12px] md:text-[14px]">
                <span
                  >{{ globalAudio.playingSurahInfo()?.surahNumber }}. Surah
                  {{ globalAudio.playingSurahInfo()?.englishName }} | Ayah No.
                  {{ globalAudio.currentPlayingAyah()?.numberInSurah }}</span
                >
                <span class="max-md:block">
                  (By {{ globalAudio.playingSurahInfo()?.audioEditionName }})</span
                >
              </div>
            </div>
          </div>

          <div class="md:flex items-center justify-center">
            <div
              class="pl-[16px] h-[36px] flex items-end justify-center gap-[4px] overflow-hidden pointer-events-none opacity-90 dark:opacity-45"
            >
              @if (globalAudio.isAudioPlaying()) {
                @for (
                  bar of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20];
                  track $index
                ) {
                  <div
                    class="w-[2px] bg-sacred-gold rounded-t-full animate-visualizer"
                    [style.animation-delay]="$index * 0.1 + 's'"
                    [style.height]="12 + bar * 3 + '%'"
                  ></div>
                }
              }
            </div>

            <div class="pl-[16px] flex items-center gap-[4px] group/volume relative">
              <button
                (click)="globalAudio.toggleMute()"
                class="text-slate-500 hover:text-sacred-gold transition-colors p-[4px] rounded-md hover:bg-slate-800/50 cursor-pointer"
                title="Toggle Mute"
              >
                @if (globalAudio.volume() === 0) {
                  🔇
                } @else if (globalAudio.volume() < 0.5) {
                  🔉
                } @else {
                  🔊
                }
              </button>

              <input
                type="range"
                min="0"
                max="1"
                step="0.01"
                [value]="globalAudio.volume()"
                (input)="updateVolume($event)"
                [class.opacity-30]="globalAudio.volume() === 0"
                class="w-[80px] h-[8px] bg-slate-700 rounded-lg cursor-pointer accent-sacred-gold transition-all group-hover/volume:w-[112px]"
              />

              <span class="text-[10px] text-slate-500 font-mono w-[24px]">
                {{ (globalAudio.volume() * 100).toFixed(0) }}%
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
}
<p-confirmdialog
  key="closeAudioPrompt"
  styleClass="  max-md:m-4 bg-white! dark:bg-bg-green/95! text-[#18181B]! dark:text-[#FFFFFF]! border border-gray-200! dark:border-gold-tint/20! rounded-xl! shadow-[0_25px_60px_-15px_rgba(0,0,0,0.7)] backdrop-blur-md overflow-hidden"
/>
