@import 'tailwindcss';
@import 'primeicons/primeicons.css';

/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

@theme {
  --color-chestnut: #782f29;
  --color-beige: #f5f5dc;
  --color-beige-lighter: #f5f5dc;
  --color-beige-darker: #eff5dc;
  --color-primary: #a77d5c;
  --color-secondary: #f9ebdb;
  --color-tertiary: #9c8062;
  --color-secondary-50: #e5ccb2;
  --color-secondary-100: #9c8062;
  --color-accent: #22c55e;
  --color-divine-emerald: #064e3b;
  /* --color-sacred-gold: #d4af37; */
  --color-sacred-gold: #f5c030;
  --color-sand-mist: #fdfbf7;
  --font-serif: 'Playfair Display', serif;
  --font-arabic: 'Amiri', serif;
  --color-night-deep: #0a0a0a;
  --color-night-card: #161616;
  --font-english: 'Akzidenz Roman', Helvetica, Arial, sans-serif;
  --color-uw-text: #f4f7f5;
  --color-uw-text2: #8fa898;
  --color-uw-text3: #526b5c;
  --color-uw-gold: #f5c030;
  --color-uw-accent: #34d399;
  --color-uw-highlight: rgba(245, 192, 48, 0.12);
  --color-hover-background: rgba(63, 81, 181, 0.1);
  --color-cream-bg: #f5efe1;
  --color-cream-highlight: rgba(138, 111, 58, 0.1);
  --color-cream-dark: #9c8866;
  --color-cream-darker: #6b5a3e;
  --color-cream-darkest: #3a2e1a;
  --color-cream-surface: #faf5ea;
  --color-cream-border: #e0d4ba;
  --color-bg-green: #18221f;
  --linear-gradient-gold-metallic: linear-gradient(
    135deg,
    #bf953f 0%,
    #fcf6ba 25%,
    #b38728 50%,
    #fbf5b7 75%,
    #aa771c 100%
  );
  --color-premium-emerald: #0b251e;
  --color-dark-surface: #121816;
  --color-gold-tint: #dfb76c;
}

@variant dark (&:where(.dark, .dark *));

:root {
  /* Default base font size (100% usually means 16px) */
  --base-font-size: 100%;
}

html {
  @apply bg-gray-50! text-slate-900!;
  /* @apply bg-slate-50 text-slate-900; */
  font-size: var(--base-font-size) !important;

  .p-toast-detail {
    color: #18181b !important;
  }
}

html.dark {
  @apply bg-[#070d0b]! text-gray-100!;
  /* @apply bg-slate-950 text-slate-100; */

  .p-toast-detail {
    color: #ffffff !important;
  }
}

body {
  @apply transition-colors duration-300;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.shimmer-block {
  background: linear-gradient(90deg, #e5e7eb 25%, #f3f4f6 50%, #e5e7eb 75%);
  background-size: 200% 100%;
  animation: shimmer 2s infinite linear;
  border-radius: 0.5rem;
}
/* .shimmer-block {
  background: linear-gradient(90deg, #1f2937 25%, #374151 50%, #1f2937 75%);
  background-size: 200% 100%;
  animation: shimmer 2s infinite linear;
  border-radius: 0.5rem;
} */
.p-dialog-title {
  font-size: 20px !important;
}
.p-confirmdialog-message {
  font-size: 16px !important;
}
p-scrolltop p-button {
  z-index: 9999 !important;
}
input[type='range']::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}
.arabic-text-style {
  @apply text-emerald-900 dark:text-emerald-300 font-arabic;
}
